@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	html[data-theme="light"] {
		--color-fill: 251, 254, 251;
		--color-text-base: 40, 39, 40;
		--color-accent: 0, 108, 172;
		--color-card: 230, 230, 230;
		--color-card-muted: 205, 205, 205;
		--color-border: 236, 233, 233;
		--purple-light: #9191f4;
	}
	html[data-theme="dark"] {
		--color-fill: 30, 35, 52;
		--color-text-base: 234, 237, 243;
		--color-accent: 112, 210, 255;
		--color-card: 52, 63, 96;
		--color-card-muted: 138, 51, 2;
		--color-border: 67, 79, 130;
		--purple-light: #aeaef7;
		--purple-dark: #987cc4;
		--red: #e40058;
		--orange: #ff9d60;
		--light-green: #73d9b0;
		--yellow: #f8d878;
		--chevron-size: 12px;
	}
	#sun-svg,
	html[data-theme="dark"] #moon-svg {
		display: none;
	}
	#moon-svg,
	html[data-theme="dark"] #sun-svg {
		display: block;
	}
	body {
		@apply flex flex-col min-h-screen font-mono bg-skin-fill text-skin-base selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted;
		background: url('/img/woodsy.jpg') no-repeat center fixed;
		background-size: cover;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	section,
	footer {
		@apply max-w-4xl px-4 mx-auto;
	}
	a {
		@apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
		color: var(--purple-light);
		text-decoration-line: underline;
		text-decoration-style: dashed;
		text-underline-offset: 0.4em;
	}
	.tags-container {
		margin: 0;
	}
	.tags-container a {
		text-decoration: none;
	}
	p {
		margin: 1.5rem 0;
	}
	#article p, #about p, #article ul, #about ul {
		font-size: 1.125rem;
		font-weight: 400;
		line-height: 1.6;
	}
	.posts-list a, #recent-posts a {
		text-decoration: none;
	}
	#recent-posts ul, ul.posts-list, .breadcrumb ul {
		list-style: none;
		margin: 0;
	}
	.breadcrumb ul {
		margin-bottom: 1.5rem;
	}

	/* Headers  */

	h2, .h2 {
		@apply mt-10 mb-6 text-2xl font-bold text-skin-base;
		color: var(--light-green);
		border-left: 5px solid var(--light-green);
		padding-left: 12px;
		margin-left: -15px;
	}
	h3 {
		@apply text-xl;
	}
	h4 {
		font-size: 1.5rem;
		margin: 1rem 0 0;
		font-weight: 700;
	}
	#about h3 {
		color: var(--light-green);
		font-size: 1.25rem;
		border-bottom: 1px solid rgb(255 255 255 / 10%);
	}
	svg {
		@apply inline-block w-6 h-6 fill-skin-base group-hover:fill-skin-accent;
	}
	svg.icon-tabler {
		@apply inline-block w-6 h-6 scale-125 stroke-current stroke-2 fill-transparent opacity-90 group-hover:fill-transparent sm:scale-110;
	}
	tbody td:first-child,
	tfoot td:first-child {
		padding-left: 0.5714286em;
	}

	/* ===== scrollbar ===== */
	html {
		/* overflow-y: scroll; */
		@apply bg-skin-fill;
	}

	/* width */
	/* ::-webkit-scrollbar {
		@apply w-2;
	} */

	/* Track */
	::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		@apply bg-skin-card;
		background: #333c67;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		@apply bg-skin-card-muted;
		background: #3b4888;
	}
}

@layer components {
	.display-none {
		@apply hidden;
	}
	.focus-outline {
		@apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
	}
}

.astro-code {
	background: rgb(20 25 40 / 70%) !important;
	padding: 20px;
	margin: 2rem 0;
	border-radius: 7px;
	font-size: 0.9375rem;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}
.astro-code::-webkit-scrollbar {
	@apply h-2 !important;
}
p code, li code {
	background: rgb(20 25 40 / 70%);
	padding: 5px 10px;
	border-radius: 7px;
	font-size: 0.875em;
	color: var(--light-green);
}

.social-icons a:nth-of-type(1) svg {
	color: rgb(103 227 124);
}
.social-icons a:nth-of-type(2) svg {
	color: rgb(135 144 235);
}
.social-icons a:nth-of-type(3) svg {
	color: rgb(254 188 68);
}
.social-icons a:nth-of-type(4) svg {
	color: rgb(78 173 232);
}

ul {
	list-style: square;
	margin: 1.5rem 0;
	margin: 1.5rem 0 1.5rem 3rem;
}
ul li {
	margin: 1rem 0;
	line-height: 1.4;
}
ul li::marker {
	color: var(--purple-light);
}

ul li:nth-child(2)::marker { color: var(--red); }
ul li:nth-child(3)::marker { color: var(--orange); }
ul li:nth-child(4)::marker { color: var(--light-green); }
ul li:nth-child(5)::marker { color: var(--yellow); }
ul li:nth-child(6)::marker { color: var(--purple-light); }
ul li:nth-child(7)::marker { color: var(--red); }
ul li:nth-child(8)::marker { color: var(--orange); }
ul li:nth-child(9)::marker { color: var(--light-green); }
ul li:nth-child(10)::marker { color: var(--yellow); }

hr {
	--tw-border-opacity: 1;
	border-color: rgba(var(--color-border), var(--tw-border-opacity));
}

article hr {
	margin: 2rem 0;
}

blockquote, aside {
	@apply text-lg font-bold text-skin-base;
	color: var(--color-text-base);
	border-left: 5px solid var(--purple-light);
	padding-left: 12px;
	margin: 2.5rem 0 2.5rem -15px;
	font-weight: 400;
	font-style: italic;
}
aside {
	position: relative;
	background-color: rgb(19 82 69 / 70%);
	border-right: 5px solid var(--purple-light);
	border-radius: 7px;
	padding: 10px 20px;
	margin: 2.5rem 0px 2.5rem 10px;
}
@media (min-width: 950px) {
	aside {
		margin: 2.5rem -20px 2.5rem -20px;
	}
}
aside svg {
	position: absolute;
	left: -22px;
	top: 50%;
	transform: translateY(-50%);
	fill: red;
	background: #164541;
	border-radius: 100%;
	padding: 3px;
	width: 40px;
	height: 40px;
}
.btn {
	cursor: pointer;
	background: var(--light-green);
	color: #1d2134;
	font-weight: 600;
	padding: 7px 25px;
	border-radius: 7px;
	margin-bottom: 1rem;
}
.btn.btn-purple {
	background: #7d7de5;
	color: #FFF;
}
.btn.btn-yellow {
	background: var(--yellow);
}
.squiggle {
	text-decoration-style: wavy;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--light-green);
	text-decoration-line: underline;
	text-underline-offset: 4px;
}

/* Tooltip */
.tooltip-container {
	position: relative;
	display: inline-block;
	cursor: default;
	color: var(--purple-light);
}

.tooltip-content {
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px 10px;
	background-color: rgb(29 32 49 / 80%);
	background-color: var(--light-green);
	color: rgb(29 32 49);
	font-size: 0.875rem;
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	border-radius: 4px;
	white-space: nowrap;
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.tooltip-container:hover .tooltip-content {
	opacity: 1;
}

.accordion-toggle {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0;
	font-size: 0.875em;
	background: rgba(0 0 0 / 20%);
	border-radius: 7px;
	padding: 8px 15px;
	margin: 2rem auto 0 -15px;
}

.accordion-content {
	max-height: 0;
	opacity: 0;
	transform: translate(0, -15px);
	overflow: hidden;
	transition: all 0.3s ease;
}
.accordion-content.active {
	opacity: 1;
	transform: translate(0);
	max-height: 100rem;
}

.chevron-down {
	border: 2px solid transparent;
	transition: all .3s ease-in-out;
}

.chevron-down.open {
	transform: rotate(180deg) translateX(-4px);
}

.chevron-down::after {
	content: '';
	display: block;
	box-sizing: border-box;
	width: var(--chevron-size);
	height: var(--chevron-size);
	border-bottom: 1px solid;
	border-right: 1px solid;
	transform: rotate(45deg) translateY(-4px);
	transform-origin: center;
}

.card-outer {
	display: inline-block;
	--radius: 20px;
	--border: 10px;
	/* Outer = inner + space between */
	border-radius: calc(var(--radius) + var(--border));
	padding: var(--border);
	background: var(--light-green);
}

.card-inner {
	border-radius: var(--radius);
}

.afancylist {
	list-style: rnbwdots;
}

@counter-style rnbwdots {
	system: cyclic;
	symbols: "🔴" "🟠" "🟡" "🟢" "🔵" "🟣";
	suffix: " ";
}

.embed-container {
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
	} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
}
